@model xXxYeetroom2000xXx.Models.Kommentar
@{
    ViewData["Title"] = "Index";
}

<div id="page-headline">
    <h1>xXxYeetroom2000HDxXx</h1>
    <hr />
</div>

@{
    <div class="posts">
        @foreach (Post post in ViewBag.Posts)
        {
        <div class="row post" lazyload>
            <div class="col-12 post-head">
                <div class="author">
                    <p class="lead">@post.Verfasser</p>
                </div>
                <div class="created-date">
                    <p>@post.Datum</p>
                </div>
            </div>
            <div class="col-12 post-content">
                @{
                    if (post.Link != "")
                    {
                        <img data-src="@post.Link" alt="Bild" />
                    }
                    if (post.Eintrag != "")
                    {
                        <p> @post.Eintrag </p>
                    }
                }
            </div>
            <div class="col-12 create-command">
                <form asp-action="CreateKommentar">
                    <div class="form-group">
                        <input class="form-control" asp-for="Verfasser" placeholder="Name" />
                        <textarea class="form-control" rows="4" cols="50" asp-for="Eintrag" placeholder="Kommentar" required></textarea>
                        <input class="hide hidden" asp-for="Post_ID" value="@post.ID" />
                        <!--<input class="btn btn-primary form-submit" type="submit" value="Kommentieren" />-->
                        <button class="btn btn-primary form-submit" type="submit">
                            <i class="fa fa-comment-o" aria-hidden="true"></i> Kommentieren
                        </button>
                    </div>
                </form>
                <button class="show-form btn btn-primary" type="button">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-12 post-comments">
                @foreach (Kommentar kommentar in ViewBag.Kommentare)
                {
                    @if (post.ID == kommentar.Post_ID)
                    {
                        <p>@kommentar.Verfasser: @kommentar.Eintrag</p>
                    }
                }
            </div>
        </div>
        }
    </div>
}