@model xXxYeetroom2000xXx.Models.Kommentar
@{
    ViewData["Title"] = "Index";
}

<h1>xXxYeetroom2000HDxXx</h1>
<a asp-action="CreatePost">Neuen Post erstellen</a>

@{
    <div style="border-collapse: collapse;">
        @foreach (Post post in ViewBag.Posts)
        {
            <div style="border: 1px solid black; margin-bottom: 20px;">
                <p> @post.Verfasser schrieb am @post.Datum: </p>
                @{
                    if (post.Link != "")
                    {
                        <img src="@post.Link" style="width: 1000px; height: 650px;" />
                    }
                    if (post.Eintrag != "")
                    {
                        <p> @post.Eintrag </p>
                    }
                }

                <div style="border: 1px solid black;">
                    @foreach (Kommentar kommentar in ViewBag.Kommentare)
                    {
                        @if (post.ID == kommentar.Post_ID)
                        {
                            <p> @kommentar.Verfasser schreib: @kommentar.Eintrag </p>
                        }
                    }
                    <form asp-action="CreateKommentar">
                        <div> <input asp-for="Verfasser" placeholder="Verfasser" /> <input asp-for="Eintrag" placeholder="Beitrag" /> <input style="visibility: hidden; width:0px; height:0px;" asp-for="Post_ID" value="@post.ID" /> <input type="submit" value="CreateKommentar" class="btn btn-primary" /> </div>
                    </form>
                </div>
            </div>
        }
    </div>
}