@model xXxYeetroom2000xXx.Models.Kommentar
@{
    ViewData["Title"] = "Index";
}

<div id="page-headline">
    <h1>xXxYeetroom2000HDxXx</h1>
    <hr />
</div>

@{
    <div class="posts">
        @foreach (Post post in ViewBag.Posts)
        {
        <div id="post-@post.ID" class="row post" lazyload>
            <div class="col-12 post-head">
                <div class="author">
                    <p class="lead">@post.Verfasser</p>
                </div>
                <div class="created-date">
                    <p>@post.Datum</p>
                </div>
            </div>
            <div class="col-12 post-content">
                @{
                    if (post.Link != "")
                    {
                        if (post.Link.Contains("youtu"))
                        {
                            <iframe width="850" height="510" src="@post.Link" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        } else
                        {
                            <img data-src="@post.Link" alt="Bild" />
                        }
                    }

                    if (post.Eintrag != "")
                    {
                        <p> @post.Eintrag </p>
                    }
                }
            </div>
            <div class="col-12 create-command">
                <form asp-action="CreateKommentar">
                    <div class="form-group">
                        <input class="form-control" asp-for="Verfasser" placeholder="Name" />
                        <textarea class="form-control" rows="4" cols="50" asp-for="Eintrag" placeholder="Kommentar" required></textarea>
                        <input class="hide hidden" asp-for="Post_ID" value="@post.ID" />
                        <button class="btn btn-primary form-submit" type="submit">
                            <i class="fa fa-comment-o" aria-hidden="true"></i> Kommentieren
                        </button>
                    </div>
                </form>
                <button class="show-form btn btn-primary" type="button">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-12 post-comments">
                @{ int index = 0; }

                <div class="collapse" id="post-command-@post.ID">
                    @foreach (Kommentar kommentar in ViewBag.Kommentare)
                    {
                        if (post.ID == kommentar.Post_ID)
                        {
                            <p>
                                <strong>@kommentar.Verfasser</strong> @kommentar.Eintrag
                            </p>
                        }
                    }
                </div>

                @foreach (Kommentar kommentar in ViewBag.Kommentare)
                {
                    if (post.ID == kommentar.Post_ID)
                    {
                        if (kommentar.Eintrag.Any() && index == 0)
                        {
                            <a data-toggle="collapse" href="#post-command-@post.ID" role="button" aria-expanded="false" aria-controls="post-command-@post.ID">
                                Alle Kommentare anzeigen
                            </a>
                            index++;
                        }
                    }
                }
            </div>
        </div>
        }
    </div>
}