@{
    ViewData["Title"] = "Index";
}

<h1>xXxYeetroom2000HDxXx</h1>
<a asp-action="CreatePost">Neuen Post erstellen</a>

@{
    foreach (Post post in ViewBag.Posts)
    {
    <div style="border-collapse: collapse; margin-bottom: 10px;">
        <div style="border: 1px solid black;">
            <p style="font-size: 20px; font-weight: bold;"> @post.Verfasser schrieb am @post.Datum: </p>
            <p style="font-size: 20px; font-weight: bold;"> @post.Eintrag </p>
            <div style="border: 1px solid black;">
                @foreach (Kommentar kommentar in ViewBag.Kommentare)
                {
                    if (kommentar.Post_ID == post.ID)
                    {
                        <p> @kommentar.Verfasser schreib: @kommentar.Eintrag </p>
                    }
                }
            </div>
            <a asp-action="CreateKommentar" asp-route-id="@post.ID">Kommentar schreiben</a>
        </div>
    </div>
    }
}