@{
    ViewData["Title"] = "Index";
}

<h1>xXxYeetroom2000HDxXx</h1>
<a asp-action="CreatePost">Neuen Post erstellen</a>

@{
    foreach (Post post in ViewBag.Posts)
    {
        <div>
            <div style="text-align: right; margin-bottom: 0px;">
                @post.Verfasser sagte am @post.Datum
                @{ if (post.Link != "")
                    {
                        <img src="@post.Link" />
                    }
                    if (post.Eintrag != "")
                    {
                        <p> @post.Eintrag </p>
                    }
                }

            </div>
            @*@foreach (var Kommentar in Model.AlleKommentare)
                {
                    if (post.ID == Kommentar.Post_ID)
                    {
                        foreach (var Benutzer in Model.AlleBenutzer)
                        {
                            if (Benutzer.ID == Kommentar.Benutzer_ID)
                            {
                                <p style="border: 1px solid black; font-size: 10px;"> @Benutzer.Name: @Kommentar.Eintrag </p>
                            }
                        }
                    }
                }*@
        </div>
    }
}